@media screen and (min-width: 1024px) {
  .page-header {
    width: 1120px;
    margin: auto;
    display: flex;
    margin-top: 30px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin: 40px 400px 0 80px;
}
@media screen and (min-width: 1024px) {
  .logo {
    margin: 0;
  }
}
.logo__image {
  max-width: 100%;
}
.logo__text {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
  color: #1968FC;
}

.navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .navigation {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .navigation__button {
    width: 180px;
    height: 100%;
    background-color: #1968FC;
    color: #ffffff;
    margin-left: 20px;
    border: none;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  }
}

.navigation-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-list__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-list__item:last-child {
  width: 180px;
}

.headline {
  position: relative;
  margin-top: 80px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .headline {
    width: 1120px;
    margin: auto;
    margin-top: 150px;
  }
}
.headline__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 480px;
}
@media screen and (min-width: 1024px) {
  .headline__title {
    margin: 0;
    width: 600px;
  }
}
.headline__description {
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  width: 480px;
}
@media screen and (min-width: 1024px) {
  .headline__description {
    margin: 0;
    margin-top: 20px;
    width: 600px;
  }
}
.headline__button-mobile {
  background-color: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  border: none;
  color: #ffffff;
  width: 300px;
  height: 50px;
  margin-left: 80px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .headline__button-mobile {
    display: none;
  }
}
.headline__button-desktop {
  display: none;
  background-color: #1968FC;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  border: none;
  color: #ffffff;
  width: 300px;
  height: 50px;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .headline__button-desktop {
    display: block;
  }
}
.headline__banner {
  position: absolute;
  top: 390px;
  right: 21px;
  width: 599px;
  z-index: -1;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .headline__banner {
    top: 50px;
    right: 0;
    z-index: 0;
  }
}
.headline__request {
  width: 100%;
  height: 180px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 520px;
}
@media screen and (min-width: 1024px) {
  .headline__request {
    display: none;
  }
}
.headline__request-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 520px;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}
@media screen and (min-width: 1024px) {
  .reviews {
    flex-direction: row;
    width: 1120px;
    margin: auto;
    justify-content: space-between;
    padding: 0;
    margin-top: 160px;
  }
}
.reviews__decoration {
  position: absolute;
  width: 60px;
  height: 46px;
  top: 40px;
  right: 40px;
}
.reviews__description {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-top: 40px;
}

.review {
  width: 540px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.review:last-child {
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .review:last-child {
    margin-top: 0;
    margin-left: 40px;
  }
}

.profile {
  display: flex;
  align-items: center;
}
.profile__description {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.profile__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
.profile__details {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #1968FC;
  opacity: 0.8;
  margin: 0;
}

.page-footer {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #FBFBFB;
  padding: 40px;
  height: 130px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: 1440px;
    height: 130px;
    padding: 0;
  }
}
.page-footer__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer__navigation {
    display: block;
  }
}
.page-footer__navigation-list {
  display: flex;
  list-style-type: none;
  margin-left: 70px;
}
.page-footer__navigation-list__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
}
.page-footer__decoration {
  position: absolute;
  max-width: 100%;
  height: 55px;
  top: 75px;
  left: 545px;
}
@media screen and (min-width: 1024px) {
  .page-footer__decoration {
    top: 30px;
    left: 1190px;
    height: 100px;
  }
}

.footer-logo {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer-logo {
    margin-left: 160px;
  }
}
.footer-logo__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-left: 0;
}
.footer-logo__text-rectangle {
  height: 50px;
  width: 200px;
  background-color: #1968fc0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer-links {
  display: flex;
  margin-left: 50px;
}
.page-footer-links__container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.workflow {
  display: flex;
  flex-direction: column;
  padding: 70px 60px 125px 60px;
  background: linear-gradient(#1968fc1a, #1968fc08);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .workflow {
    width: 1120px;
    padding: 0;
    margin: auto;
    margin-top: 120px;
    background: none;
  }
}
@media screen and (max-width: 1023px) {
  .workflow__line {
    top: 140px;
  }
}
.workflow__title {
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

.workflow-steps {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .workflow-steps {
    margin-top: 50px;
    flex-direction: row;
  }
}

.workflow-step {
  padding: 40px;
  position: relative;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .workflow-step {
    width: 320px;
    height: 220px;
  }
  .workflow-step:nth-child(3) {
    margin-top: 40px;
  }
  .workflow-step:nth-child(5) {
    margin-top: 80px;
  }
}
.workflow-step__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
.workflow-step__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1968FC;
  margin: 0;
}
.workflow-step__description {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
}
@media screen and (min-width: 1024px) {
  .workflow-step__description {
    margin-top: 20px;
  }
}
.workflow-step__decoration {
  position: absolute;
  top: 40px;
  right: 40px;
}

.connect-card-line {
  width: 1px;
  height: 40px;
  border-left: 2px dashed #1968FC;
  margin-left: 60px;
}
@media screen and (min-width: 1024px) {
  .connect-card-line:nth-child(4) {
    margin-top: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .connect-card-line {
    height: 1px;
    width: 70px;
    border-left: 0;
    border-top: 2px dashed #1968FC;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 110px;
  }
}

.card-decoration {
  position: absolute;
  top: 161px;
  left: 500px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .card-decoration {
    top: 200px;
    left: 300px;
  }
}

.features {
  background: linear-gradient(#1968fc08, #1968fc08);
  padding: 0 60px 125px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 0;
    margin: auto;
    margin-top: 120px;
    background: none;
  }
}
@media screen and (max-width: 1023px) {
  .features__line {
    top: 70px;
  }
}
.features__title {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.features__card-decoration {
  position: absolute;
  top: 180px;
  left: 500px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .features__card-decoration {
    top: 270px;
    left: 300px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .features-list {
    flex-direction: row;
  }
}

.feature {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
.feature:first-child {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .feature {
    margin-top: 0;
    width: 320px;
    height: 290px;
  }
  .feature:nth-child(2) {
    margin-top: 40px;
    margin-left: 74px;
  }
  .feature:nth-child(3) {
    margin-top: 80px;
    margin-left: 86px;
  }
}
.feature__logo {
  width: 100%;
  height: 80px;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .feature__logo {
    height: 120px;
  }
}
.feature__logo-image {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1024px) {
  .feature__logo-image {
    width: 120px;
    height: 120px;
  }
}
.feature__logo-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-left: 20px;
}
.feature__logo-text-container {
  background-color: #f3f7ff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.feature__description {
  font-size: 16px;
  line-height: 30px;
  margin: 30px 40px;
}
@media screen and (min-width: 1024px) {
  .feature__description {
    margin: 40px;
  }
}

.users {
  width: 100%;
  padding: 0 60px 120px 60px;
  background: linear-gradient(#1968fc08, #1968fc08);
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .users {
    width: 1120px;
    padding: 0;
    margin: auto;
    margin-top: 120px;
    background: none;
  }
}
@media screen and (max-width: 1023px) {
  .users__line {
    top: 70px;
  }
}
.users__title-mobile {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .users__title-mobile {
    display: none;
  }
}
.users__title-desctop {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  display: none;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .users__title-desctop {
    display: block;
  }
}
.users__container-mobile {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .users__container-mobile {
    display: none;
  }
}

.user {
  background-color: #ffffff;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
  max-width: 250px;
}
.user:nth-child(even) {
  margin-right: 0;
}
.user:nth-child(5) {
  margin-bottom: 0;
}
.user:nth-child(6) {
  margin-bottom: 0;
}
.user__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1968FC;
  margin: 0;
}
.user__description {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  margin-top: 20px;
}

.users__container-desktop {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .users__container-desktop {
    display: none;
  }
}

.user-desktop {
  padding: 20px;
  max-width: 360px;
  background-color: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}

.users-top-line {
  display: flex;
  justify-content: space-between;
}

.users-bottom-line {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.purposes {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px 60px 60px;
  background: linear-gradient(#1968fc08, #1968fc08);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .purposes {
    width: 1120px;
    padding: 0;
    margin: 120px auto;
    background: none;
  }
}
.purposes__line {
  top: 130px;
}
.purposes__title {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.purposes__container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .purposes__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purpose {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  align-items: center;
  margin-top: 40px;
}
.purpose:first-child {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .purpose {
    max-width: 540px;
  }
  .purpose:first-child {
    margin-right: 40px;
  }
  .purpose:nth-child(2) {
    margin-top: 0;
  }
  .purpose:nth-child(3) {
    margin-right: 40px;
  }
}
.purpose__image {
  max-width: 100%;
}
.purpose__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  margin-left: 20px;
}

.consultation {
  background-color: #1968FC;
  width: 100%;
  padding: 60px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .consultation {
    padding: 80px 160px;
  }
}
.consultation__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  display: inline-block;
}
.consultation__line {
  width: 80px;
  border-bottom: 2px solid #ffffff;
  box-shadow: 0px 2px 0px #6a9eff;
  position: absolute;
  left: 60px;
  top: 190px;
}
@media screen and (min-width: 1024px) {
  .consultation__line {
    left: 120px;
    top: 150px;
  }
}
.consultation__description {
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .consultation__description {
    max-width: 629px;
    margin-top: 60px;
  }
}
.consultation__button {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 40px;
  height: 50px;
  width: 320px;
  border: none;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
  color: #1968FC;
}
.consultation__banner {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__banner {
    display: block;
    position: absolute;
    max-width: 100%;
    top: 20px;
    right: 1px;
  }
}

.stories-background {
  background-color: #ffffff;
}

.stories {
  display: flex;
  flex-direction: column;
  padding: 60px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .stories {
    width: 1120px;
    padding: 0;
    margin: 120px auto;
    background: none;
  }
}
@media screen and (max-width: 1023px) {
  .stories__line {
    top: 130px;
    left: 60px;
  }
}
.stories__title {
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.stories__container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .stories__container {
    margin-top: 60px;
    flex-direction: row;
  }
}

.story-card {
  position: relative;
  width: 100%;
}
.story-card:last-child {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .story-card:last-child {
    margin-top: 0;
    margin-left: 150px;
  }
}
.story-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  margin: 0;
  color: #111111;
  margin-left: 60px;
}
.story-card__description {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-left: 60px;
  margin-top: 20px;
}
.story-card__description3 {
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .story-card__description3 {
    margin-bottom: 0;
  }
}
.story-card__icon {
  position: absolute;
  max-width: 100%;
  top: 4px;
  left: 0;
}

.story:last-child .story__description1 {
  width: 280px;
}

html {
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  color: #11223F;
  display: flex;
  flex-direction: column;
  background-color: 1968fc;
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    margin: auto;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png");
  }
}

.top-section {
  background: linear-gradient(#1968FC03, #1968FC1A);
}
@media screen and (min-width: 1024px) {
  .top-section {
    background: none;
  }
}

.undertitle-line {
  width: 80px;
  border-bottom: 2px solid #1968FC;
  box-shadow: 0px 2px 0px #D1E1FE;
  position: absolute;
  left: 60px;
}
@media screen and (min-width: 1024px) {
  .undertitle-line {
    left: -40px;
    top: 70px;
  }
}

/*# sourceMappingURL=styles.css.map */
