.features {
  background: linear-gradient(#1968fc08, #1968fc08);
  padding: 0 60px 125px 60px;
  display: flex;
  flex-direction: column;
  position: relative;

  @include for-large-up {
      padding: 0;
      margin: auto;
      margin-top: 120px;
      background: none;
    }

    &__line {
      @include for-large-down {
        top: 70px;
      }
    }

  &__title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  &__card-decoration {
    position: absolute;
    top: 180px;
    left: 500px;
    z-index: 1;
  
    @include for-large-up {
        top: 270px;
        left: 300px;
    }
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @include for-large-up {
      flex-direction: row;
  }
}

.feature {
  background-color: $color-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  position: relative;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);

  &:first-child {
      margin-top: 0;
  }

  @include for-large-up {
      margin-top: 0;
      width: 320px;
      height: 290px;

      &:nth-child(2) {
          margin-top: 40px;
          margin-left: 74px;
      }

      &:nth-child(3) {
        margin-top: 80px;
        margin-left: 86px;
    }
  }

  &__logo {
    width: 100%;
    height: 80px;
    display: flex;

    @include for-large-up {
        height: 120px;
    }
  }

  &__logo-image {
      width: 80px;
      height: 80px;

      @include for-large-up {
        width: 120px;
        height: 120px;
      }
  }

  &__logo-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    margin-left: 20px;
  }

  &__logo-text-container {
    background-color: #f3f7ff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
    margin: 30px 40px;

    @include for-large-up {
        margin: 40px;
    }
  }
}
